.container-widget-3{
  width: 230px;
  position: relative;
  left:930px;
  top: 319px;
}
.weather2{
  height: 220px;
  cursor: pointer;
user-select: none;
  background:linear-gradient(45deg,rgb(2, 36, 49),white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  margin: 0 auto;

}

.weather_header2{
  width: 170px;
 
}

.weather_city2{
  font-size: 40px;
  font-weight: 700;
margin-bottom: 15px;
}
.weather_status2{
  font-size:20px;
  margin-bottom: 10px;
}
.weather_icon2{
position: absolute;
margin-left: 80px;
margin-top: -48px;
}
.weather_temp2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.weather_temp2::after,
.weather_feels-like2::after{
display: inline-block;
margin-left: 5px;
content:"°C";
}